@import "../helper/variable.scss";

#subject-detail {
    .subject-intro {
        border: 1px solid $color-orange-3;
        border-radius: 16px;
        background-color: $bg-orange-0;

        h1 {
            color: $color-orange-2;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.015em;
        }

        .subject-id,
        .subject-name,
        .teacher,
        .description {
            color: $color-black-0;
            font-weight: bold;

            span {
                color: $color-black-0;
                opacity: 0.8;
                font-weight: 400;
                font-size: 1rem;
            }
        }

        .subject-name {
            span {
                margin-left: 31px;
            }
        }

        .description {
            span {
                margin-left: 38px;
            }
        }

    }

    .subject-content {
        h1 {
            color: $color-orange-2;
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.015em;
        }

        .lesson {
            .lesson-name {
                display: flex;
                align-items: center;
                background: white;
                box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
                border-radius: $br-8;
                transition: all .5s;

                .arrow-icon {
                    color: $color-orange-3;
                    font-size: 1rem;
                    transition: all .5s;
                    transform: rotate(0);

                }

                &.active {
                    .arrow-icon {
                        transform: rotate(90deg);
                        color: white;
                    }

                    background: $bg-orange-3;
                    color: white;
                }
            }

            .lesson-desc {
                .video {
                    width: 500px;
                    height: 280px;
                    margin: 0 auto;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;

                    }

                    .overplay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: $color-black-0;
                        opacity: 0.5;
                    }

                    .icon-play {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 70px;
                        height: 70px;
                        text-align: center;
                        line-height: 70px;
                        color: white;
                        border-radius: 50%;
                        background: $color-gray-4;
                        opacity: 0.8;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                }

                .files {
                    h1 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                        letter-spacing: 0.015em;
                        color: $color-orange-3;
                    }
                    hr{
                        background-color: $color-black-0;
                        height: 3px;
                        opacity: 0.2;
                    }

                    .resource {
                        background: #EFEFEF;
                        border-radius: 4px;
                        width: 280px;

                        .paperclip {
                            color: $color-orange-3;
                            font-size: 1rem;
                        }

                        .paperclip {
                            &::after {
                                content: "";
                                display: inline-block;
                                height: 12px;
                                width: 2px;
                                line-height: 12px;
                                background-color: $color-black-1;
                                margin: 0 0.8rem;
                            }
                        }
                    }

                    .btn-download {
                        background: $color-orange-6;
                        border: 1px solid $color-orange-3;
                        border-radius: 4px;

                        .download {}
                    }



                }
            }
        }
    }
}