
@mixin title($color,$fs,$lh, $fw) {
    color: $color;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
}
@mixin styleButton($bg,$color,$w,$h,$border) {
    background-color: $bg;
    color: $color;
    width: $w;
    height: $h;
    border-radius: $border;
    text-align: center;
    line-height: $h;
    border: none;
}