// color
$color-orange-base-0: #FF5400;
$color-orange-base-1: #F17F21;
$color-orange-2: #CC5C00;
$color-orange-3: #FF7506;
$color-orange-4: #FFA75E;
$color-white-base-0: #fff;
$color-black-0: #373839;


// background
$bg-orange-0: #FFF9F4;
// font-size
$fs-1_5: 1.5rem;
$fs-3: 3rem;

//padding:
$pd-2: 2rem;

//line height:
$lh-56: 56px;

//font weight
$fw-normal: normal;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// border-radius
$br-8: 8px;
$br-10: 10px;
$br-16: 16px;

