// color

$color-white-base-0: #fff;
$white-1: #F0F3F6;
$color-black-0: #373839;
$color-black-1: #C9C4C0;
$color-gray-0: #C5C5C5;
$color-gray-1: #FAFBFC;
$color-gray-2: #BDBDBD;
$color-gray-3: #9b9b9b;
$color-gray-4: #999796;
$color-orange-base-0: #FF5400;
$color-orange-base-1: #F17F21;
$color-orange-2: #CC5C00;
$color-orange-3: #FF7506;
$color-orange-4: #FFA75E;
$color-orange-5: #ED2025;
$color-orange-6: #FFD8B8;
$color-green: #49C510;


// background
$bg-orange-0: #FFF9F4;
$bg-orange-2: #CC5C00;
$bg-orange-3: #FF7506;
$bg-gray-0: #C5C5C5;
$bg-gray-1: #FAFBFC;
$bg-gray-2: #BDBDBD;

$bg-clay-0: #823B00;
$bg-white: #FFF;
$bg-white-0: #F2F2F2;
// font-size
$fs-0_875: 0.875rem;
$fs-1_5: 1.5rem;
$fs-2: 2rem;
$fs-3: 3rem;

//padding:
$pd-2: 2rem;

//line height:
$lh-56: 56px;

//font weight
$fw-normal: normal;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// border-radius
$br-8: 8px;
$br-10: 10px;
$br-16: 16px;

