@import '../helper/variable.scss';

.custom-select {
    &.ant-select {
        & .ant-select-selector {
            &:hover {
                border-color: $color-black-0;

                &::before {
                    background-color: $color-black-0;
                }
            }

            border-color: $color-black-0;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                width: 1px;
                height: 100%;
                right: 30px;
                top: 0;
                background-color: $color-black-0;
                opacity: 0.5;

            }
        }

        & .ant-select-arrow {
            color: $color-orange-3
        }
        &.ant-select-forcued:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
            box-shadow: none;
        }
    }
}